body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.login-container h1 {
    margin: 10ssspx 0;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container img {
    width: 10%;
    margin: 5px;
    vertical-align: middle;
}

.login-container input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 80%; /* Ancho del campo de texto */
    
}

.login-container button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

